*{
    margin:0;
    padding:0;
}

.contentBox{
    box-sizing:content-box;
    color:#fff;
    width:200px;
    height:200px;
    padding:20px;
    border:1px solid #000;
    background:#348fe2;
}

.borderBox{
 box-sizing:border-box;
 color:#fff;
 width:200px;
 height:200px;
 padding:20px;
 border:1px solid #000;
 background:#348fe2;
}

/* 网格布局开始 */
.g-wrap:before,
.g-wrap:after{
    display:table;
    content:'';
}
.g-wrap:after{
    clear:both;
}
.g-wrap{
    margin:0 10px;
    width:100%;
    height:200px;
    background:#348fe2;
}
.g-grid-1,
.g-grid-2,
.g-grid-3,
.g-grid-4,
.g-grid-5,
.g-grid-6,
.g-grid-7,
.g-grid-8,
.g-grid-10,
.g-grid-11,
.g-grid-12{
    float:left;
    padding:0 10px;
}

.g-grid-1{
    width:8.3333333333%;
}
.g-grid-2{
    width:16.6666666667%;
}
.g-grid-3{
    width:25%;
}
.g-grid-4{
    width:33.33333333333%;
}
.g-grid-5{
    width:41.6666666666667%;
}
.g-grid-6{
    width:50%;
}
.g-grid-7{
    width:58.3333333333%;
}
.g-grid-8{
    width:66.66666666667%;
}
.g-grid-9{
    width:75%;
}
.g-grid-10{
    width:83.3333333333%;
}
.g-grid-11{
    width:91.6666666667%;
}
.g-grid-12{
    width:100%;
}


/* 品字形布局 */

.g-header{
    width:100%;
    height:80px;
    position:fixed;
    top:500px;
    left:0;
    background:#348fe2;
    color:#fff;
}
.g-nav{
    width:260px;
    position:fixed;
    top:580px;
    left:0;
    bottom:0;
    background:#333;
    color:#fff;
}
.g-content{
    margin-top:580px;
    margin-left:260px;
    color:#333;

}